/* .para-style{
    color:red;
    font-size: 3rem;
    font-weight: bold;
    font-style: italic;
}

.btn{
    width:100px;
    height:50px;
    margin:20px;
}
.anim{
    box-shadow: 0 15px 18px 0 tomato;
    opacity: 0.5;
} */


div {
    background-color: tomato;
    height: 20rem;
    width: 20rem;
    padding: 2rem;
  }