body{
    font-family: lato;
    background-color: #ddd;
}
/* card one starts here  */
.wrapper1{
    padding:20px;
    background-color: #414852;
}
.card-img-top{
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}
.card-body{
    text-align:center;
    box-shadow: 0 15px 15px -8px rgba(0,0,0,0.5);
}
.card-body h6{
    font-size: 14px;
    text-transform: uppercase;
    color:deeppink;
}
.card-title{
    font-size: 24px;
    font-weight:bold;
    text-transform: uppercase;
}
.socials a{
    width:40px;
    height:40px;
    display:inline-block;
    border-radius: 50%;
    margin:0 5px;
}
.socials a i{
    color:#fff;
    padding:12px 0px;
}
.socials a:nth-child(1){
    background: #3b5998;
}
.socials a:nth-child(2){
    background: #ff0000;
}
.socials a:nth-child(3){
    background: #007bb5;
}
.socials a:nth-child(4){
    background: #ea4c89;
}
@media (max-width:991px)
{
    .card{
        margin-bottom:30px;
    }
}

/* Card one stops here */
/* card two starts here  */
.wrapper{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:6% auto 0;
    gap:20px;
    background-color: #414852;
}
.single-card{
    position:relative;
    width:280px;
    height:400px;
    margin:15px;
    box-shadow: 0 2px 20px rgba(0,0,0,0.5);
    overflow:hidden;
    background: #414852;
    border-radius: 15px;
    transition:all 0.8s ease-in-out;
}
.single-card:hover{
    transform:translateY(-10px);
}
.img-area{
    position:relative;
    width:100%;
    height:200px;
    overflow:hidden;
}
.img-area img{
    width:100%;
    height:100%;
    object-fit: cover;
    transition:transform 0.3s ease;
}
.img-area:hover img{
    transform:scale(1.1);
}
.overlay{
    position:absolute;
    top:0;
    left:0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
    background-color: rgba(0,174,255,0.8);
    opacity:0;
    transition:opacity 0.3s ease;
}
.single-card:hover .overlay{
    opacity:1;
}
.add-to-card, .view-details{
    background-color:#fff;
    color:#000;
    padding:10px 15px;
    border-radius: 4px;
    font-size:12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor:poiter;
    transition: background-color 0.3 ease ,color 0.3 ease;
    margin-bottom: 10px;
}
.add-to-card:hover , .view-details:hover{
    background-color: orangered;
    color:#fff;
    border:none;
}
.Info{
    padding:10px;
    text-align:center;
    color:#ddd;
}
.Info h3{
    font-size:30px;
    font-weight: bold;
    margin:15px 0 10px;
    text-transform: uppercase;
    font-family:bebas neue;
}
.Info .price{
    margin:0;
    font-size:30px;
    font-weight:bold;
    color:aqua;
}
/* card two stops here  */
/* card three starts here  */
#tutorial{
    padding:4% 10%;
    background:#a3d2ca;
    margin:20px 0;
}

.card{
    transition:.4s;
    border:1px solid #ff02c0;
}
.card:hover{
    transform:scale(1.1);
    box-shadow: 2px 6px 5px black;
}
/* card three stops here  */
/* card four starts here  */
.categories1{
    margin:200px 0;
    background-color: #414852;
}
.categories1 img{
    width:100%;
    height:80%;
    padding:20px 0;
    transition:1s;
    cursor:pointer;
}
.categories1 img:hover{
    transform:scale(1.1);
}
/* card four stops here  */
/* card five starts here  */
.pruducks{
    padding:5% 0 0;
}
.card1{
   border:none;
   box-shadow: 0 2px 20px rgba(0,0,0,0.5);
   width:100%;
   height:50%;
}
.card-body1{
    color:#fff;
    background:#2a2f40;
    padding:5px;
}
.card-title1{
    font-size:30px;
    font-weight:700;
    transition:all .5s ease-in-out;
}
.btn-group  .btn{
    background:#fe6d38;
    color:#fff;
    font-size:18px;
    margin-right:5px;
    padding:10px 20px;
    font-weight:700;
    transition:all .6s ease-in;
}
.price{
    font-size:25px;
    font-weight:900;
    transition:.6s;
}
.card1:hover .price{
    animation: pulse .5s ease-in-out infinite;
}
.card-img-top1{
    width:100%;
    height:100%;
    position:relative;
}
@keyframes pulse{
    0%{
        transform:scale(1);
    }
    50%{
        transform:scale(.95);
    }
    100%{
    transform:scale(1);
    }
}
.card1:hover .card-title1{
    letter-spacing: 5px;
    font-weight:300;
}
.btn-group .btn:hover{
    background-color:#fff;
    color:#262626;
}
@media (max-width:991px)
{
    .card1{
        margin-bottom:30px;
    }
}
@media (max-width:767px)
{
    .btn-group .btn{
        font-size:9px;
    }
}
/* card five stops here  */
/* card six starts here  */
.wrapper2{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top:12%;
    padding-bottom:12%;
    background-color: aqua;
}
.user-card{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    background-color: #fff;
    padding:40px;
    border-radius: 10px;
    width:650px;
    position:relative;
    overflow:hidden;
    box-shadow: 0 2px 20px -5px rgba(0,0,0,0.5);
}
.user-card::before{
    position:absolute;
    content: ' ';
    height:300%;
    width:173px;
    background:#262626;
    top:-60px;
    left:-125px;
    z-index: 0;
    transform:rotate(17deg);
}
.user-card-img{
    display:flex;
    justify-content: center;
    align-items: center;
    z-index:3;
}
.user-card-img img{
    width:150px;
    height:200px;
    object-fit: cover;
}
.user-card-info{
    text-align:center;
}
.user-card-info h1{
    font-size:24px;
    margin:0;
    margin-bottom:10px;
    font-family:bebas neue;
    font-weight: bold;
}
.user-card-info p{
  font-size:14px;
  margin-bottom:2px;
}
.user-card-info p span{
    font-weight:700;
    margin-right:10px;
}
@media only screen and (min-width:768px) {
    .user-card{
        flex-direction: row;
        align-items:flex-start;
    }
    .user-card-img{
        margin-right:20px;
        margin-bottom:0;
    }
    .user-card-info{
        text-align:left;
    }
}
@media (max-width:767px)
{
    .wrapper2{
        padding-top:3%;
    }
    .user-card::before{
        width:300%;
        height:200px;
        transform:rotate(0);
    }
    .user-card-info h1{
        margin-top:25px;
        font-size:25px;
    }
    .user-card-info p span{
        display:block;
        margin:15px;
        font-size:10px;
    }
}
/* card six stops here  */
/* card seven starts here  */
.service-area{
    padding:150px 0;
    background-color: #262626;
    margin:50px 0;
}
.single-service{
    padding:40px 30px;
    position:relative;
    background:#fff;
    text-align:center;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    transition:all .5s ease-in-out 0s;
}
.single-service h2{
    text-transform: uppercase;
    font-size:22px;
    font-weight:900;
}
.single-service:before{
    content:' ';
    top:0;
    left:0;
    height:5px;
    width:100%;
    background:deepskyblue;
    position:absolute;
    transition:all .5s cubic-bezier(1,0.03,0.15,0.99) 0s;
}
.single-service > *{
    position:relative;
}
.single-service:hover{
    box-shadow: 0 10px 20px rgba(85,85,85,0.2);
}
.single-service:hover:before{
    height:100%;
}
.icon-box{
    width:80px;
    height:80px;
    background:#333;
    display:inline-block;
    border-radius: 50%;
    margin-bottom:15px;
}
.icon-box i{
    color:#fff;
    font-size:40px;
    padding:20px 0;
}
.single-service:hover h2,
.single-service:hover p{
    color:#fff;
    transition:.7s;
}
.single-service a{
    background:#333;
    color:#fff;
    text-transform: uppercase;
    border-radius:50px;
    padding:10px 15px;
    display:inline-block;
    margin-top:20px;
}
/* card seven stops here  */
/* card eight starts here  */
.service-area1{
    padding:150px 0;
    background-color: #262626;
    margin:50px 0;
}
.single-service1{
    height:400px;
    padding:20px 15px;
    width:100%;
    color:#fff;
    background:deepskyblue;
    position:relative;
    overflow:hidden;
    transform: translateY(0) translatez(0);
    transition:all .3s ease-in-out 0s;
}
.single-service1 .content{
    position:relative;
    z-index:2;
    text-align:center;
}
.single-service1 b{
    position:absolute;
    top:0;
    left:200px;
    right:0;
    bottom:0;
    display:block;
    border-radius:50%;
    transition: width 0.6s  ease-in-out, height  0.6s ease-in-out;
    height:0;
    width:0;
    transform:translate(-50%,-50%);
    background:darkorange;
    z-index:1;
}
.content h2{
    text-transform: uppercase;
    margin-top:20px;
    margin-bottom:20px;
    font-weight:900;
}
.single-service1:hover b{
    height:600px;
    width:600px;
}
.icon-area{
    width:80px;
    height:80px;
    display:inline-block;
    background:#fff;
    color:deepskyblue;
    border-radius:50%;
}
.icon-area i{
    font-size:30px;
    padding:25px 0;

}
.content a{
    color:deepskyblue;
    background:#fff;
    text-decoration:none;
    display:inline-block;
    padding:10px 30px;
    border-radius:50px;
    text-transform: uppercase;
    font-weight:900;
}
.single-service1:hover a{
    color:darkorange;
    transition:.9s;
}
.single-service1:hover .icon-area i{
    color:darkorange;
    transition:.9s;
}
/* card eight stops here  */
/* card nine starts here  */
/* card nine stops here  */
/* card ten starts here  */
#features{
    padding : 5% 10%;
    background-color: #e8ded2;
    margin:20px 0;
}
.features-col{
    border : 1px solid #bb0aac;
    border-radius: 5px;
    padding:15px;
    margin:20px 0;
    transition:.4s;
}
.features-col:hover{
    transform:scale(1.1);
    box-shadow: 2px 6px 5px black;
}
.icon-style{
    background: #bb0aac;
    color:white;
    padding:15px;
    margin:5px 0;
}
/* card ten stops here  */